body {
    background-image:  url('../Resources/img_background.jpg');
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover; 
    background-repeat: no-repeat;  
    height: 100%;
    width: 100%;    
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float: none;
    text-align:left;
    margin-right:-4px;
}

#vcard{
    margin-top: 2%;
    width: 60%;
    height: auto;
    background: rgba(255, 255, 255, 0.8);
    transition-duration: 500ms;
    border: 1px solid navy;     
}

#info b{
    color: navy;
    text-shadow: 2px 2px 2px grey;
}
#info p{
    font-size: 1em;
}
#profile-picture{
    margin-top: 1%;
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid navy;   

}
#email-box{
    margin: 1px;
    width: auto;
}
#email-box a{
    text-decoration: none;
}

#email-box p{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    background-color:  navy;
    border-radius: 10px;

}

#social-media span{
    display: inline;
    margin: 10px;
    
}
#social-media a{
    text-decoration: none;
}
#social-media a:visited{
    text-decoration: none;
}

.fa {
    font-size: 3em;
    color: navy;
    text-shadow: 2px 2px 2px grey;
}
.fa:hover {
    font-size: 4em;
    transition-duration: 200ms;
    color: navy;
    text-shadow: 5px 5px 5px grey;

}


