.viewport {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 150px;
    right: 0;
    bottom: 0;
    left: 0;
}

.menu-slide {
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    position: relative;
    margin: 0;
    padding: 0;
    width: 150;
    height: auto;
    float: left;
    background-color: blueviolet;
    box-shadow: 5px 5px 5px grey;
   
}
.menu-slide li {
       list-style-type: none; 
       margin: 10px;
}
.slide-button {
    color: white;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;

}
.slide-button:hover{
    background-color: blueviolet;
}

.menu-slide-show {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}



